{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="uk-alert-{{ label }}">
            <a class="uk-alert-close" uk-close></a>
            <p>{{ message|escape }}</p>
        </div>
    {% endfor %}
{% endfor %}
