{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}

<div class="container-form-forget">
    <h1>Votre nouveau mot de passe</h1>

    {{ form_start(passForm, {'attr' : {'class': 'form-forget uk-box-shadow-small uk-animation-slide-right'}}) }}
        {{ form_row(passForm.password) }}
        <button class="uk-button uk-button-primary" type="submit">Valider</button>
    {{ form_end(passForm) }}
</div>
  

{% endblock %}