/********* Responsive for mobile **********/
@media screen and (max-width: 1083px) {
    #video-desktop {
      display: none;
    }
    .main-img-mobile {
        display: flex;
    }

    #bloc-tagline {
      align-items: center;
      justify-content: center;
    }

    #tagline {
      width: 80%;
    }
}


/********* Responsive for desktop **********/
@media screen and (min-width: 1083px) {
    #video-desktop {
      display: flex;
      min-height:auto;
    }
    /*.main-img-mobile {
        display: none;
    }*/
}

/********* Responsive for desktop **********/
@media screen and (max-width: 1270px) and (min-width: 1083px) {
    #video-desktop {
      display: flex;
      top: 0;
      min-width: 180%;
      left: -500px;
    }
    
    .main-img-mobile {
        display: none;
    }
}

/********* Responsive for desktop **********/
@media screen and (max-width: 1930px) and (min-width: 1270px) {
  #video-desktop {
    min-width: 150%;
  }
  
  .main-img-mobile {
      display: none;
  }
}
/********* Responsive for desktop **********/
@media screen and (max-width: 3440px) and (min-width: 1930px) {
  #video-desktop {
    min-width: 150%;
  }
  
  .main-img-mobile {
      display: none;
  }
}


