@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

body {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
}
.uk-navbar-right {
    margin-right: 30px;
}

li {
    font-weight: 500;
}

.container-main {
    height: auto;
}

.v-slider-bloc {
    border: solid 1px black;
    font-size: 30px;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
}

.bloc-1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bloc-2 {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.chevron {
    background: rgba( 74, 144, 226, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 50px;
    height: 50px;
    margin-right: 10px ;
}

.chevron-down {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 5;
    border-radius: 50%;
    top: 30em;
    left: 90%;
    cursor: pointer;
}

.chevron-up {
    /*position: absolute;*/
    top: 65em;
    left: 90%;
    border-radius: 50%;
    cursor: pointer;
}

#bloc-main-video {
    overflow: hidden;
}

#video-desktop {
    display: flex;
    /*min-width: 100%;*/
    position: absolute;
    z-index: -10;
}

.main-img-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -10;
}

.bloc-item-main-1 {
    width: 100%;
}

.bloc-item-main-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px blue;
    width: 100%;
    height: 90vh;
}

.bloc-chevron {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
}

#bloc-tagline {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 90vh;
}

#bloc-tagline p {
    margin-left: 25px;
}


#tagline {
    border: 2px yellow solid;
    background: rgba( 74, 144, 226, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    width: 70%;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#tagline h2 {
    margin: 5px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
}

nav {
    z-index: 10;
    background: rgba( 255, 255, 255, 0 );
    backdrop-filter: blur( 1px );
    -webkit-backdrop-filter: blur( 1px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.link-nav {
    color: white;
}

.link-tricks {
    color: white;
}

.container-tricks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border: solid 2px green;
    width: 90%;
    height: 90%;
}

.card-tricks {
    display: flex;
    flex-direction: column;
    border: solid 2px purple;
    width: 250px;
    height: 200px;
}

.card-tricks-body {
    border: solid 2px blue;
    width: 100%;
    height: 70%;
}

.card-tricks-footer {
    border: solid 2px red;
    width: 100%;
    height: 30%;
}

.container-register-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
}

.form-auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 50%;
    padding: 20px;
    border: solid 3px blue;
}

.bloc_update_image {
    border: solid 2px green;
    width: 250px; 
}

.bloc_update_image li {
    list-style: none;
}

.bloc_update_image img {
    padding: 10px;
    width: 100%;
    object-fit: contain;
}

.bloc-slideshow {
    border: solid 3px red;
    width: 60%;
    height: 88vh;
}

.read-bloc-1 {
    border: solid 2px purple;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.bloc-desc {
    width: 30%;
    height: 88vh;
}

.bloc-item-tricks-1 {
    border: solid 3px black;
    width: 50%;
    /*padding: 10px;*/
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloc-item-tricks-2 {
    border: solid 2px blue;
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caroussel {
    border: solid 3px red;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

.bloc-img-first {
    border: solid 2px green;
    height: 50vh;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.bloc-img-first img {
    top: 500px;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.blc-article {
    border: solid 5px yellowgreen;
    width: 90%;
    height: 90%;
}

#media-container {
    padding: 10px;
    margin: 50px;
}

#addMediaButton {
    margin: 20px;
}

.bloc-form-comment {
    border: solid 3px purple;
}
