@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@100;200;300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:wght@100;200;300;400;500;600;700;800;900;1000&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    position: absolute;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

p {
    color: black;
}

.uk-navbar-right {
    margin-right: 30px;
}

li {
    font-weight: 500;
}

.container-main {
    height: auto;
}

.main-read{
    background: rgb(57,140,207);
    background: radial-gradient(circle, rgba(57,140,207,0.5551470588235294) 28%, rgba(255,255,255,0.4515056022408963) 100%);
}

.v-slider-bloc {
    font-size: 30px;
    display: flex;
    /*justify-content: center;
    align-items: center;*/
}

.bloc-1 {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.bloc-2 {
    height: auto;
    display: flex;
    flex-direction: column;
}

.chevron {
    background: rgba( 74, 144, 226, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 11px );
    -webkit-backdrop-filter: blur( 11px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 50px;
    height: 50px;
    margin-right: 10px ;
}

.chevron-down {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    z-index: 5;
    border-radius: 50%;
    top: 30em;
    left: 90%;
    cursor: pointer;
}

.chevron-up {
    /*position: absolute;*/
    top: 65em;
    left: 90%;
    border-radius: 50%;
    cursor: pointer;
}

#bloc-main-video {
    overflow: hidden;
}

#video-desktop {
    display: flex;
    /*min-width: 100%;*/
    position: absolute;
    z-index: -10;
}

.main-img-mobile {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -10;
}

.bloc-item-main-1 {
    width: 100%;
}

.bloc-item-main-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh; 
}
    

.bloc-chevron {
    display: flex;
    justify-content: flex-end;
    height: 10vh;
    width: 100%;
}

#bloc-tagline {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 90vh;
}

#bloc-tagline p {
    margin-left: 25px;
}


#tagline {
    border: 2px yellow solid;
    background: rgba( 74, 144, 226, 0.65 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    border-radius: 20px;
    width: 70%;
    margin-left: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: flex;
    justify-content: center;
}



#tagline h2 {
    margin: 5px;
    font-family: 'Roboto Flex', sans-serif;
    color: white;
}

.link-nav {
    color: white;
}

.link-tricks {
    color: white;
}

.container-tricks {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    flex-grow: 1;
    overflow-y: hidden;
    margin-top: 10px;
    border-radius: 30px;
    background-color:#0777ff
}

nav {
    z-index: 10;
}


#showMoreButton {
    display: block;
    margin: 20px auto;
}

.card-tricks {
    box-shadow: 0px 2px 8px 5px rgba(0,0,0,0.27);
    border-radius: 20px 20px 0 0;
    display: flex;
    flex-direction: column;
    width: 450px;
    height: 270px;
    margin: 10px;
    border-radius: 20px;
}

.card-tricks-body {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 80%;
}

.card-tricks-footer {
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 0 0 20px 20px;
}

.container-register-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 91vh;
}

.form-auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 30%;
    height: 50%;
    padding: 20px;
    border: solid 3px blue;
}

.bloc_update_image {
    flex-wrap: wrap;
    display: flex;
    width: 100%; 
    height: auto;
    padding: 20px;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

.bloc_update_image li {
    width: 200px;
    height: 200px;
    margin: 30px;
    padding: 0;
    border-radius: 20px;
}

.bloc_update_image li a {
    width: 100%;
    margin-top: 5px;
}

.bloc_update_image li img {
    padding: 0;
    border-radius: 20px;
}


.bloc_update_video {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    padding: 0;
    justify-content: center;
    align-items: center;
}

.bloc_update_video li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 30px;
    list-style: none;
}


.bloc_update_image img {
    padding: 10px;
    width: 100%;
    object-fit: contain;
}

.bloc-slideshow {
    border: solid 3px red;
    width: 60%;
    height: 88vh;
}

.read-bloc-1 {
    border: solid 2px purple;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.bloc-desc {
    width: 30%;
    height: 88vh;
}

.bloc-item-tricks-1 {
    border: solid 3px black;
    width: 50%;
    /*padding: 10px;*/
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bloc-item-tricks-2 {
    border: solid 2px blue;
    width: 50%;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caroussel {
    border: solid 3px red;
    width: 100%;
    height: 30vh;
    overflow: hidden;
}

.bloc-img-first {
    border: solid 2px green;
    height: 50vh;
    margin-bottom: 10px;
    width: 100%;
    overflow: hidden;
}

.bloc-img-first img {
    top: 500px;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.blc-article {
    border: solid 5px yellowgreen;
    width: 90%;
    height: 90%;
}

#media-container {
    padding: 10px;
    margin: 50px;
}

#addMediaButton {
    margin: 20px;
}

.bloc-add-comment {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bloc-form-comment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 40%;
}

.form-comment {
    display: flex;
    padding: 10px;
    width: 100%;
}

.form-comment textarea {
    resize: none;
    width: 300px;
}

.desc-update {
    height: 200px;
}

.btn-comment {
    border: solid 2px black;
}

.bloc-comment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-comment {
    width: 100%;
}

.card-com {
    width: 70%;
    margin: 10px;
    padding: 10px;
    border: solid 2px white;
    border-radius: 10px;
    background-color: white;
}

.card-comment-actions {
    display: flex;
    justify-content: flex-end;
}

#containerPagination {
    display: flex;
    justify-content: center;
}

#containerPagination a {
    font-size: 26px;
    padding: 0 10px;
    border-radius: 50%;
    border: solid 3px black;
    color: black;
    margin: 5px;
    
}

p {
    font-size: medium;
}

.bloc-form-add-trick {
    flex: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #0777ff;
}

.form-add-tricks {
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 15px;
    border-radius: 20px;
    background-color: white;
    margin: 50px;
}

.bloc-trick-form {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.add-media, .add-video {
    padding: 10px;
}

.media {
    margin: 5px;
}

.div-slideshow{
    border: solid 3px green;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.img-slideshow {
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 100%;
}

.form-update {
    width: 80%;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
}
.container-form-update{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgb(57,140,207);
    background: radial-gradient(circle, rgba(57,140,207,0.5551470588235294) 28%, rgba(255,255,255,0.4515056022408963) 100%);
}

/**** style media read tricks *****/


.header-read-tricks {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.bloc-media-tricks {
    width: 50%;
}

.main-img-tricks {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50vh
}


.main-img-tricks img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.bloc-carousel-tricks {
    width: 100%;
    height: 30vh;
    position: relative;
    overflow: hidden;
    display: flex;
}

.slider {
    display: flex;
    position: absolute;
    justify-content: center;
}


.slide {
    width: 200px;
    height: 200px;
    margin: 5px;
    float: left;
}

#btn-prev, #btn-next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18);
    background: rgba( 27, 20, 100, 0.8 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
/*****style description read tricks******/
.bloc-description-tricks {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-article-tricks {
    width: 90%;
    height: auto;
}

/*** style update form*****/

.bloc-btn-new-add {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 200px;
}

.uk-slideshow-items {
    border-radius: 20px 20px 0 0;
}

/****** style form password********/
.container-form-forget {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(57,140,207);
    background: radial-gradient(circle, rgba(57,140,207,0.5551470588235294) 28%, rgba(255,255,255,0.4515056022408963) 100%);
}

.form-forget {
    width: 40%;
    height: 20%;
    padding: 10px;
    border-radius: 20px;
    background-color: white;
}

.form-forget button {
    margin-top: 10px;
}

.bloc-btn-media {
    display: flex;
}

.media-btn-upd {
    margin: 5px;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.media-btn-del {
    margin: 5px;
    padding: 10px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}











