{% block body %}
    <footer class="uk-section uk-section-secondary uk-section-xsmall" id="target-footer">
        <div class="uk-container uk-container-small">
            © 2023. Tous droits réservés. Snowtricks.
        </div>
    </footer>
{% endblock %}
