{% block body %}
    <footer class="uk-section uk-section-secondary uk-section-xsmall" id="target-footer">
        <div class="uk-container uk-container-small">
            Place sticky footer content here.
        </div>
    </footer>
{% endblock %}