{% block body %}
    <nav class="uk-navbar-container uk-position-top uk-navbar-transparent uk-animation-slide-top-medium" uk-navbar id="main-top">
        <div class="uk-navbar-right ">
            <ul class="uk-navbar-nav">
                <li><a class="uk-text-primary link-nav" href="/">Acceuil</a></li>
                <li><a class="uk-text-primary link-nav" href="">Connexion</a></li>
                <li><a class="uk-text-background link-nav" href="">S'enregistrer</a></li>
            </ul>
        </div>
    </nav> 
{% endblock %}